/*@font-face {
	font-family: 'DB Helvethaica X 76 BdIt';
	src: url('/fonts/DBHelvethaicaX-76BdIt.eot');
	src: url('/fonts/DBHelvethaicaX-76BdIt.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DBHelvethaicaX-76BdIt.woff') format('woff'),
		url('/fonts/DBHelvethaicaX-76BdIt.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DB Helvethaica X 55';
	src: url('DBHelvethaicaX-55Regular.eot');
	src: url('DBHelvethaicaX-55Regular.eot?#iefix') format('embedded-opentype'),
		url('DBHelvethaicaX-55Regular.woff') format('woff'),
		url('DBHelvethaicaX-55Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/

@font-face{
	font-family: 'ThaiSans Neue';
	src: url('ThaiSansNeue-Light.ttf');
	font-weight: 300;
}

@font-face{
	font-family: 'ThaiSans Neue';
	src: url('ThaiSansNeue-Regular.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'ThaiSans Neue';
	src: url('ThaiSansNeue-Bold.ttf');
	font-weight: bold;
}

@font-face{
	font-family: 'ThaiSans Neue';
	src: url('ThaiSansNeue-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}