@import '../../../../sass/_variables.scss';

@keyframes blinker {  
  50% { opacity: 0; }
}

.intro {
  @include background('/img/bg/yellow.png');
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  position: relative;
  .jwc-logo {
    width: 320px;
  }
  .date-and-place {
    padding-top: 15px;
    padding-bottom: 25px;

  }
  .camp-date {
    // font-size: 50px;
    color: $brown;
    margin: 0;
    font-weight: bold;
    font-style: italic;
  }
  .camp-place {
    // font-size: 26px;
    color: #442c1f;  
    font-style: italic;  
    margin: 0;
    font-weight: normal;
  }
  .scroll-down-text {
    color: #000000;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 37px;
    line-height: 37px;
    animation: blinker 1s linear infinite;
  }
  .login-with-fb-button {
    width: 250px;
    cursor: pointer;
  }
  .countdown {
    padding-top: 10px;
    padding-bottom: 10px;  
    p {
      margin: 0;
    }
  }
  .kid {
    position: absolute;
    bottom: 0;
    height: 275px;    
    &.kid-left {
      left: 8%;
    }
    &.kid-right {
      right: 8%;
    }
  }
}