// This file will override global color variable for bootstrap
// More info http://getbootstrap.com/customize/#less-variables

// Body
$body-bg: #23B4C1;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'ThaiSans Neue';
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #ffffff;

// Navbar
$navbar-default-bg: #fff;
