// This file will override global color variable for bootstrap if variable name is already exist by bootstrap
// More info http://getbootstrap.com/customize/#less-variables
// But you still can define some of your own variables

// BG 
$brown: #442c1f;
$yellow: #ffd059;

// Section Padding
$section-padding: 2em;

// Body
$body-bg: #ffffff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'ThaiSans Neue';
$font-size-base: 27px;
$line-height-base: 1.6;
$text-color: #ffffff;

// Navbar
$navbar-default-bg: #fff;

// Mixins
@mixin background($imgUrl) {
  background: url($imgUrl) repeat center;
}

@mixin circleButton() {
   width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ee5d5f;
    // border-bottom: 10px solid #d7524e;
    position: absolute;
    bottom: -25px;
    // right: 35px;
    cursor: pointer;
    text-align: center;
    i {
        font-size: 35px;
        line-height: 50px;
        color: white;
    }

}