@font-face{
	font-family: 'ThaiSans Neue';
	src: url('ThaiSansNeue-Light.ttf');
	font-weight: 300;
}

@font-face{
	font-family: 'ThaiSans Neue';
	src: url('ThaiSansNeue-Regular.ttf');
	font-weight: normal;
}

@font-face{
	font-family: 'ThaiSans Neue';
	src: url('ThaiSansNeue-Bold.ttf');
	font-weight: bold;
}

@font-face{
	font-family: 'ThaiSans Neue';
	src: url('ThaiSansNeue-ExtraBoldItali.ttf');
	font-weight: bold;
	font-style: italic;
}
